{% extends 'core/base.html' %}
{% load static %}

{% block title %}Snake Eyes{% endblock %}

{% block content %}
  <h2>Thank you for playing Snake Eyes</h2>
  <div class="container">
      <div class="row v-center">
          <div class="col-xs-6">
            {% if form.betResult|add:"0" > 0 %}
              <h4>Congratulations {{ user}}</h4>
              <h4>That little venture netted you {{ form.betResult }} dollars</h4>
              <br>
            {% else %}
              <h4>Unfortunately today might not be your day</h4>
              <h4>The House took {{ form.betResult }} dollars</h4>
              <br>
              <p>Would you like to play again?</p>
            {% endif %}
          </div>
          <div class="col-xs-6">
              <a href="/play/snakeyes/" class="thumbnail">
                    <img class="vmiddle" src="{% static "img/snake-eyes.jpg" %}" alt="Snake Eyes" />
              </a>
          </div>
      </div>
  </div>
{% endblock %}
