{% extends 'core/base.html' %}
{% load static %}

{% block title %}Snake Eyes{% endblock %}

{% block head_inject %}
<script type="text/javascript">
  var player1_wins = 0 ;
  var currentBet = 0;
  var player2_wins = 0 ;
  var dice_roll = -99 ;
  var leader = 0 ;
  var betSize = 10 ;
  var warBalance = 1.23 ;
</script>

{% endblock %}

{% block content %}

{% verbatim dice %}
<div class="col-lg-6" >
  <h1>Status & Rules</h1><br>
  <h4>Status</h4>
  <p id="betsize"></p>
  <p id="yourBet"></p>
  <p id="currentwinner"></p>
  <p id="player1"></p>
    <p id="player2"></p><br>
  <h4>Rules</h4>
  <p>We roll the dice, you bet the outcome, simple! However if you roll a double, the dice are rolled again,
    and if you roll 'snake-eyes'(Two ones, you lose!).</p>
    <p>The default bet is $10, but you can reset that below.</p>
    <br>
    <h4>Payouts</H4>
    <p>The house pays 190% of the cumulative winnings</p><br>
    <button type="button" class="btn btn-info btn-success" data-toggle="modal" data-target="#myModal">Set Bet Size</button>
    <button ng-if="game.winner" type="button" class="btn btn-success" onclick="settleUp()">Pay out</button>
</div>
<div class="col-lg-6" >
  <div class="placeBet">
    <br><br>
    <h4>Place your bet and then roll the dice.</h4>
    <select id="selectedBet" >
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
    </select>
    <br><br><br>

  </div>
  <div class="Daro">
    <div id="daroResults">

    </div>

  </div>
</div>
<div class="setBet">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">The more you play the more we pay</h4>
        </div>
        <div class="modal-body">
          <h2>Set Bet Size</h2>
          <h3>OK so what is it going to be?</h3>
          <form method="post">
            {% csrf_token %}
              Bet (between $1 and $50): <input type="number" id="myBet" min="1" max="50">
              <button type="submit" class="btn btn-success" data-dismiss="modal" onclick="setBet()" >Place Bet</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Just the default bet please</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript' src='/static/js/d6.js'></script>
<script type="text/javascript" src="/static/js/daro.js"></script>

<script type='text/javascript'>
function incrementScore(){
  getBet();
  leader = "The House"
  if (dice_roll == currentBet){
    player1_wins += 1;
    leader = "You"
  }else {
    player2_wins += 1 ;
  }
  document.getElementById("betsize").innerHTML = "Each bet is "+betSize;
  document.getElementById("yourBet").innerHTML = "Current bet is "+currentBet;
  document.getElementById("currentwinner").innerHTML = "This rounds winner is "+leader;
  document.getElementById("player1").innerHTML = "Your score = "+player1_wins;
  document.getElementById("player2").innerHTML = "House score = "+player2_wins;
}
function setBet(){
  betSize = $('#myBet').val();
  document.getElementById("betsize").innerHTML = "Each bet is "+betSize;
}
function getBet(){
  currentBet = $('#selectedBet').val();
}
function settleUp(){
  console.log("Settling up");
  console.log(player1_wins, player2_wins);
  if (player1_wins > player2_wins){
    warBalance = Math.floor((player1_wins-player2_wins)*1.9*betSize)
    console.log("player1_wins"+warBalance);
    console.log(player1_wins, player2_wins, betSize);
  } else {
    warBalance = Math.floor((player2_wins-player1_wins)*betSize)
    console.log("player2_wins"+warBalance);
    console.log(player1_wins, player2_wins, betSize);
    warBalance = warBalance*-1
  }
  document.getElementById('betResult').value = warBalance;
  console.log(warBalance);
  leader=1;
  document.forms.hiddenForm.submit()
}

</script>
{% endverbatim dice%}
<div id="hiddenForm" style="display: none" class="visibility=hidden">
  <form class="" action="/play/snakedone/" name="hiddenForm" method="post">
    {% csrf_token %}
    <input type="hidden" name="betResult" id="betResult" value="snakeBalance">
    <button type="submit" name="betBalance">Update Balance</button>
  </form>
</div>

{% endblock %}
