{% extends 'core/base.html' %}
{% load static %}
{% block content %}
  <h2>Edit Profile Details</h2>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
           <div class="row">
              {{ field.errors }}
              {{ field.label_tag }} {{ field }}
              {% if field.help_text %}
              <div class="row">
                    {{ field.help_text }}
              </div>
              {% endif %}
          </div>
      {% endfor %}
      <button type="submit">Edit</button>
    </form>
  {% endblock %}
